.slider {
    position:relative;
    overflow: hidden;
    height: 45px;
    width: 90%;
    background-color: black;
    margin-left: 40px;
    margin-right: 30px;

}
.sliderText{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    animation: slide 8s linear infinite;
    color: aliceblue;
    font-size: larger;
}
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
h1{
    color: rgb(247, 105, 5);
}
button{
  margin-top: 20px;
  margin-bottom: 20px;
}
#pic{
  width: 400px;
  height: 500px;
}