.slider {
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 100%;
    background-color: black;

}
.sliderText{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    animation: slide 8s linear infinite;
    color: aliceblue;
}
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
h1{
    color: rgb(247, 105, 5);
}